<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolled Dice Result</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <h1>Here are your results...</h1>

    <h2>The random number was: <span th:text="${random}"></span></h2>

    <h2>You guessed: <span th:text="${number}"></span></h2>

    <h2 th:text="${message}"></h2>
</div>

</body>
</html>